
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

.vociTabella {
}

.smallImage {
    height: auto;
    width: 90px;
    cursor: help;
    vertical-align: middle;
    margin: 2px;
    margin-right: 5px;
    border-radius: 1em;
    filter: blur(0px);
}

.smallImage:hover {
    filter: blur(1px);
}