
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    filter:brightness(0.8);
    margin-left: -43px;
    padding: 5px;
}

li:hover {
    filter:brightness(1);
    background-color: pink;
    color: black;
    border-radius: 1em;
}

#bordo {
    background-color:black;
    width: fit-content;
    border-radius: 1em;
    border: 5px solid pink;
    padding: 2em;
}

.vociTabella {
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.vociTabella:hover {
    text-decoration: underline;
}

.smallImage {
    height: auto;
    width: 90px;
    vertical-align: middle;
    margin-right: 6px;
    border: 1px solid pink;
    border-radius: 1em;
}